@charset "UTF-8";

/* Estilo para telas*/ 

*{
    margin: 0px;
    padding: 0px;
    
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
    margin-bottom: 10px;
}

header > h1{
    text-align: center;
    margin-bottom: 10px;
}

menu ul{
    list-style-type: disc;
    background-color: rgb(158, 158, 158);
}

menu li{
    background-color: rgb(95, 94, 94);
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
article{
    width: 600px;
    display: block;
    margin: auto;
}