@charset "UTF-8";

body{
    height: 100vh;
    background-color: black;
    background-image: url(Imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 14px;
}