@charset "UTF-8";

body{
    height: 100vh;
    background-color: black;
    background-image: url(Imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* background: black url(/exercícios/ex022/Imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;  não funcionou o shorthand*/

}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 14px;
} 