@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgb(0, 0, 0);
}

thead, tfoot{
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}

td.num{
    text-align: right;

}

tbody > tr:nth-child(2n){
    background-color: lightgrey;
}

caption{
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    background-color:lightgray;
}