@charset "UTF-8";

/* Demais versões */

@media print {
    /*PARA IMPRESSÃO*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    
    body{
        background: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }

    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone{display: none;}
    img#pc{display: none;}
    img#print{display: block;}
    img#tablet{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    /*PARA TABLET*/
    body{
        background: url(../imagens/back-tablet.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tablet{display: block;}
    img#tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width:1199px) {
    /*PARA DESKTOP*/
    body{
        background: url(../imagens/back-pc.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    img#phone{display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    img#tablet{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 1200px) {  /*PARA GRANDES TELAS*/

    body{
        background: url(../imagens/back-tv.jpg) no-repeat;
        background-size: cover;
        background-position: center center;     
    }

    img#phone{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
    img#tablet{display: none;}
    img#tv{display: block;}

}

   
   