@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }
    menu{
        display: block;
        
    }
    
    menu > ul > li{
        display: inline-block;
        padding: 5px;     

    }

    menu > ul > li > a{
        border-radius: 15px;
        border: 2px solid white;
    }

    main{
        width: 768px;
    }
}

