@charset "UTF-8";
body {
    background-color: rgb(37, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: aquamarine;
    background-color: rgb(71, 116, 108);
}
h2{
    color: rgb(71, 116, 108);
}
p{
    text-align: justify;
}